[core]
  editor = nvim
  fsmonitor = true
  untrackedCache = true
  excludesfile = /Users/elizabeth.pine/.gitignore
  pager = less -RFX
[column]
  ui = auto
[color]
  ui = auto
[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = OneHalfDark
[alias]
  co = checkout
  gs = status
  gp = pull
  gp = push
[diff]
  algorithm = histogram
  colorMoved = zebra
  mnemonicPrefix = true
  renames = true
  wordRegex = .
  context = 3
[difftool]
  prompt = false
  trustExitCode = true
[init]
  defaultBranch = main
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[pull]
  rebase = true
[merge]
  conflictstyle = zdiff3
[status]
  short = true
  branch = true
[rerere]
  enabled = true
[fetch]
  prune = true
[user]
  name = Liz
